{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" typ="text/css" href="{% static 'css\adminC.css' %}">
    <link rel="stylesheet" typ="text/css" href="{% static 'css\utilsA.css' %}">
    <title>Admin View</title>
</head>
<body>
  <div class="sidemenu">
    <div class="brandmenu">
        <b><h1><a href="{% url 'home' %}">McQueen's</h1></a></b>
    </div>
    <div class="nav">
        <br><br><br><br><br><br><br>
        <div class="img-case brandmenu">
            <p>
            <a href="">
            <img src="{% static "images/user.png" %}" width="100px" height="100px" alt="">
            </a>
        </p>
        </div>
        <div class="user brandmenu"><b>ADMIN</b></div>
    </div>
<div class="brandmenu">
    <a href="{% url 'login' %}">LOG OUT</a>
</div>
</div>
  <div class="container">
    <div class="header">
      <div class="user">
        <h1>ADMIN PANEL</h1>
      </div>
  </div>
  <br><br><br><br>
  <div class="tablecrud">
    <div class="crud">
      <table>
    
    <form action="" method="POST">

    {% csrf_token %} 
    
    <p><h3> Are you sure you want to delete booking and customer details of {{booking.customer_booking.Name}}?</h3></p>
              <tr>
              <td><input type="submit" class="btn btn-outline" value="submit"></td>
            </tr>
              </form>
        </table>
          </div>
        </div>
</div>
</body>
</html>