@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2{
    color: #444;
}

.sidemenu {
    position: fixed;
    background: #f05462;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn{
    background-color: #f05462;
    border: none;
}
.sidemenu .brandmenu {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidemenu li {
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}

.sidemenu li:hover {
    background: rgb(206, 87, 87);
    color: #f0e8e9;
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.img-case{
    justify-content: center;
    align-items: center;
    padding: 10 10 20 20px;
}
.container .header .nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .nav .user img {
    width: 40px;
    height: 40px;
    
}
.container .header .nav .user .img-case {
    position: relative;

}

.container .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

.container .tablecrud .crud  {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
.admin{
    
        display:inline-block;
        background: linear-gradient(135deg, rgb(139, 107, 107), rgb(95, 94, 94));
        color: #fff;
        padding: 10px 30px;
        cursor: pointer;
        text-align: center;
        border:none;
        border-radius: 5px;
}
@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .sidemenu li span {
        display: none;
    }
    .sidemenu {
        align-items: center;
    }
    .sidemenu li img {
        width: 40px;
        height: 40px;
    }
    .sidemenu li:hover {
        background: #b5434f;
        padding: 8px 38px;
        border: 2px solid white;
    }
}
