{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" typ="text/css" href="{% static 'css\homeC.css' %}">
    <link rel="stylesheet" typ="text/css" href="{% static 'css\utilsA.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
    <link href='https://fonts.google.com/specimen/Solway?query=solway' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static "images/logo.png" %}" type="image/x-icon"> 
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <title>About Us</title>
</head>
<body>
           <!-- NAVBAR-->
    <div class="navbar word-1">
        <div class= "container flex">
            <div class="logo"><h1>McQueen's <span>Rentals</span></h1></a></div>
            <nav>
                <ul>
                    <div class="logo ">
                        <li><a href="{% url 'home' %}"><span><b>HOME</b></span></a></li>
                    </div>
                        <li><a href="{% url 'listcars' %}"><b>BOOK</b></a></li>
                        <li><a href="#"><b>ABOUT US</b></a></li>
                </ul>
            </nav>
        </div>
    
    </div>
       <!-- CONTENT-->
       <div class="car-text">
                    <h2><b>About Company</b></h2>
                    <br>
                    <div class="word">
                    <p >
                        We offer long and short-term car rental deals for private 
                        customers, with or without drivers with unlimited mileage
                        all over the Mindanao area. We also provide car delivery 
                        and car pick up all the way to the customer's house.
                    </p>
               
                <div class="text-align">
                    <br>
                    <h2><b>Why Choose Us?</b></h2>
                        
                            <li>
                                If you want to book directly through a supplier,
                                and not through a broker - choose <b>McQueens Car Rental</b>
                            </li>
                            <li>
                                This will give you better flexibility in terms of vehicle
                                choices
                            </li>
                            <li>
                                Vehicle make and model will be confirmed, and not “similar”
                                to those you selected
                            </li>
                            <li>
                                You can directly negotiate some of the terms and conditions,
                                payment options, especially if you require unique or long term
                                rental service
                            </li>
                    
                        <p >
                            
                            We offer a varied fleet of cars, ranging car brands from Toyota, 
                            Nissan, Suzuki, Kia, Hyunda, and Honda. All our vehicles have air 
                            conditioning power steering, electric windows. All our vehicles are 
                            bought and maintained at official dealerships only. Automatic 
                            transmission cars are available in every booking class. We pride ourselves
                            on personalized service, great cars and excellent rates.
                        
                        </p>
                   
                    <div class="text-align">
                        <br>
                        <h2><b>Privacy Statement</b></h2>
                        <p >
                            <ol>
                                <li>
                                    <p >
                                        Data Protection Legislation - The EU General Data Protection Regulation (GDPR) (namely the Data 
                                        Protection Regulation) rules our operations and policy in respect to personal data stored and 
                                        processed throughput our electronic systems and procedures.
                                        The parties acknowledge that for the purposes of the Data Protection Legislation, you are the 
                                        data controller and we are the data processor (where Data Controller and Data Processor have 
                                        the meanings as defined in the EU GDPR).
                                    </p>
                                    <br>
                                </li>
                                <li>
                                    <p >
                                        Personal Data - This privacy statement provides information about the personal information 
                                        that McQueens Car Rentals collects, and the ways in which McQueens Car Rentals uses that personal
                                        information. McQueensS Car Rentals collects and uses the following kinds of personal information:
                                        <ul>
                                            <li>
                                                First name, last name, age, phone number, country of residence, 
                                                ,home address, driving license details.
                                            </li>
                                        </ul>
                                    </p>
                                    <br>
                                    <p>
                                        Legitimate Use of Personal Data - You ensure that you have all necessary appropriate consents 
                                        and notices in place to enable lawful transfer of the Personal Data to McQueens Car Rentals and 
                                        its partners that are necessary for the provision of the car rental service, for the duration 
                                        and purposes of this Agreement.
                                    </p>
                                    <br>
                                    <p>
                                        <b>McQueens Car Rentals may use your Personal Data to:</b>
                                         <ul>
                                            <li>
                                                Supply to you the car rental services that you purchase.
                                            </li>
                                            <li>
                                                Personalize the voucher sent to you.
                                            </li>
                                            <li>
                                                Send you marketing communications.
                                            </li>
                                        </ul>
                                    </p>
                                    <br>
                                    <p>
                                        <b>You declare your consent into:</b>
                                        <ul>
                                            <li>
                                                Using your personal data for the provision of car rental service by our organization and 
                                                our local partners at the pickup and drop-off locations.
                                            </li>
                                            <li>
                                                Keeping your personal data into our systems for unlimited duration, unless you express 
                                                your right to delete the Personal Data if not any other applicable law obliges us.
                                            </li>
                                            <li>
                                                Letting us send you marketing communications in the future through email, conveying content 
                                                information about our brand name, our car rental services and corporate news
                                            </li>
                                        </ul>
                                    </p>
                                    <br>
                                    <p >
                                        Your optional declaration is expressed through the appropriate selection box on the online booking 
                                        site of McQueens Car Rentals.
                                    </p>
                                    <br>
                                    <p >
                                        <b>Right to Object</b> - You have the right to send us in written your objection into receiving marketing 
                                        communications and McQueens Car Rentals will be obliged to stop sending such information within 5 
                                        working days after receiving your notification request,
                                    </p>
                                    <br>
                                    <p >
                                        <b>Sub-processing of Personal Data</b> - Where McQueens Car Rentals discloses your personal information 
                                        to its partners for these purposes, the partners in question will be obligated to use that personal 
                                        information in accordance with the terms of this privacy statement.
                                    </p>
                                    <br>
                                    <p >
                                        In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, 
                                        McQueens Car Rentals may disclose your personal information to the extent that it is required to do 
                                        so by law, in connection with any legal proceedings or prospective legal proceedings, and in order 
                                        to establish, exercise or defend its legal rights.
                                    </p>
                                    <br>
                                </li>
                            </ol>
                        </p>
                        <div class="text-align">
                            <br>
                            <h2><b>Rules and Conditions Statement for the General Use of the Site</b></h2>
                            <p >
                                These terms and conditions govern your use of this website; by using this website, you accept these terms 
                                and conditions in full. If you disagree with these terms and conditions or any part of these terms and 
                                conditions, you must not use this website.
                            </p>
                        </div>
                        <div class="text-align">
                            <br>
                            <h2>A) License to Use Website</h2>
                            <p >
                                Unless otherwise stated, McQueens Car Rentals and/or its licensors own the intellectual property rights 
                                in the website and material on the website. Subject to the license below, all these intellectual property 
                                rights are reserved.
                            </p>
                            <p >
                                You may view, download for caching purposes only, and print pages from the website for your own personal 
                                use, subject to the restrictions set out below and elsewhere in these terms and conditions. You must not:
                                <ul>
                                    <li>
                                        Republish material from this website.
                                    </li>
                                    <li>
                                        Show any material from the website in public.
                                    </li>
                                    <li>
                                        Reproduce, duplicate, copy or otherwise exploit 
                                        material on this website for a commercial purpose
                                    </li>
                                    <li>
                                        Redistribute material from this website.
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <div class="text-align">
                            <br>
                            <h2>B) Acceptable Use</h2>
                            <p >
                                You must not use this website in any way that causes, or may cause, damage to the website or impairment 
                                of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent 
                                or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
                            </p>
                            <p>
                                You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material 
                                which consists of any spyware, computer virus, Trojan horse, worm, keystroke logger, 
                                rootkit or other malicious computer software.
                            </p>
                            <p>
                                You must not conduct any systematic or automated data collection activities on or in relation to this 
                                website without McQueens Car Rental's express written consent.
                            </p>
                        </div>
                        <div class="text-align">
                            <br>
                            <h2>C) No Warranties</h2>
                            <p >
                                This website is provided “as is” without any representations or warranties, express or implied. McQueens 
                                Car Rentals makes no representations or warranties in relation to this website or the information and materials 
                                provided on this website.
                                <p>
                                    Without prejudice to the generality of the foregoing paragraph, Surprice Car Rentals does not warrant that:
                                    <ul>
                                        <li>
                                            This website will be constantly available, or available at all.
                                        </li>
                                        <li>
                                            The information on this website is complete, true, accurate or non-misleading.
                                        </li>
                                        <li>
                                            Nothing on this website constitutes, or is meant to constitute, advice of any kind.
                                        </li>
                                    </ul>
                                </p>
                            </p>
                        </div>
                        <div class="text-align">
                            <br>
                            <h2>D) Limitations of Liability</h2>
                            <p >
                                    McQueens Car Rentals will not be liable to you in relation to the contents of, or use of, or otherwise 
                                    in connection with, this website:
                                    <ul>
                                        <li>
                                            To the extent that the website is provided free-of-charge, for any direct loss.
                                        </li>
                                        <li>
                                            For any indirect, special or consequential loss
                                        </li>
                                        <li>
                                            For any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts 
                                            or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.
                                        </li>
                                    </ul>
                            </p>
                        </div>
                        <div class="text-align">
                            <br>
                            <h2>E) Exceptions</h2>
                            <p >
                                Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to 
                            exclude or limit; and nothing in this website disclaimer will exclude or limit McQueens Car Rental's liability in respect of any:
                                    <ul>
                                        <li>
                                            Death or personal injury caused by McQueens Car Rental's negligence
                                        </li>
                                        <li>
                                            Fraud or fraudulent misrepresentation on the part of McQueens Car Rentals
                                        </li>
                                        <li>
                                            Matter which it would be illegal or unlawful for McQueens Car Rentals to exclude or limit, or to 
                                            attempt or purport to exclude or limit, its liability
                                        </li>
                                    </ul>
                            </p>
                        </div>
                        <div class="text-align">
                            <br>
                            <h2>F) Reasonableness</h2>
                            <p >
                                By using this website, you agree that the exclusions and limitations of liability set out in 
                                this website disclaimer are reasonable.
                            </p>
                            <p >
                                If you do not think they are reasonable, you must not use this website.
                            </p>
                        </div>
                        <div class="text-align">
                            <br>
                            <h2>G) Other Parties</h2>
                            <p >
                                You accept that, as a limited liability entity, McQueens Car Rentals has an interest in limiting the personal liability of 
                                its officers and employees. You agree that you will not bring any claim personally against McQueens Car Rental's officers 
                                or employees in respect of any losses you suffer in connection with the website.
                            </p>
                            <p >
                                Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this 
                                website disclaimer will protect McQueens Car Rental's officers, employees, agents, subsidiaries, successors, assigns 
                                and sub-contractors as well as McQueens Car Rentals.
                            </p>
                        </div>
                        <div class="text-align">
                            <br>
                            <h2>H) Unenforceable Provisions</h2>
                            <p >
                                If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will 
                                not affect the enforceability of the other provisions of this website disclaimer.
                            </p>
                        </div>
                        <div class="text-align">
                            <br>
                            <h2>I) Indemnity</h2>
                            <p >
                                You hereby indemnify McQueens Car Rentals and undertake to keep McQueens Car Rentals indemnified against any losses, 
                                damages, costs, liabilities and expenses. Including without limitation legal expenses and any amounts paid by 
                                McQueens Car Rentals to a third party in settlement of a claim or dispute on the advice of McQueens Car Rentalss 
                                legal advisers) incurred or suffered by McQueens Car Rentals arising out of any breach by you of any provision of 
                                these terms and conditions.
                            </p>
                        </div>
                        <div class="text-align">
                            <br>
                            <h2>J) Breaches of these Terms and Conditions</h2>
                            <p >
                                Without prejudice to McQueens Car Rental's other rights under these terms and conditions, if you breach 
                                these terms and conditions in any way, McQueens Car Rentals may take such action as McQueens Car Rentals 
                                deems appropriate to deal with the breach, including suspending your access to the website, prohibiting 
                                you from accessing the website, blocking computers using your IP address from accessing the website, 
                                contacting your internet service provider to request that they block your access to the website and/or 
                                bringing court proceedings against you.
                            </p>
                        </div>
                        <div class="text-align">
                            <br>
                            <h2>K) Variation</h2>
                            <p>
                                McQueens Car Rentals may revise these terms and conditions from time-to-time. Revised terms and conditions will 
                                apply to the use of this website from the date of the publication of the revised terms and conditions on this 
                                website. Please check this page regularly to ensure you are familiar with the current version.
                            </p>
                        </div>
                        <div class="text-align">
                            <br>
                            <h2>L) Assignment</h2>
                            <p >
                                McQueens Car Rentals may transfer, sub-contract or otherwise deal with McQueens Car Rental's rights and/or 
                                obligations under these terms and conditions without notifying you or obtaining your consent.
                            </p>
                            <p >
                                You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.
                            </p>
                        </div>
                        <div class="text-align">
                            <br>
                            <h2>M) Severability</h2>
                            <p >
                                If a provision of these terms and conditions is determined by any court or other competent authority to be 
                                unlawful and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable 
                                provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and 
                                the rest of the provision will continue in effect.
                            </p>
                        </div>
                        <div class="text-align">
                            <br>
                            <h2>N) Entire Agreement</h2>
                            <p >
                                These terms and conditions constitute the entire agreement between you and McQueens Car Rentals in relation 
                                to your use of this website, and supersede all previous agreements in respect of your use of this website.
                            </p>
                        </div>
                    </div>
                </div>
                    </div>
       </div>
       

<!--FOOTER-->
    <footer class="footer bg-dark py-2">
        <div class=" flex grid grid-3">
            <div>
                <div class="footerlogo"><h1><span><b>McQUEEN'S </span>RENTALS</b></h1></div>
                </h1>
                <h5>
                <b><a href="#">Privacy Policy</a></b>
                <b><p>Copyright &copy; 2020</p></b>
                <p>CONTACT US:09457696432</p>
                </h5>
            </div>
            <div class=" text-align container">
            <nav>
                <span>
                    <b>
                <ul>
                    <h4>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Book Here</a></li>
                    </h4>
                </b>
                </ul>
            </span>
            </nav>
        </div>
            <div class="social">
                <h4>FOLLOW US:</h4>
                <a href="https://www.youtube.com/channel/UCIoMJNBYjEWEWMpMYRPP_mQ"><i class="fab fa-youtube fa-2x"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100087964113848"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://www.instagram.com/mcqueenscarrental/"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://twitter.com/mcqueens420"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>
    </footer>

</body>
</html>