{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" typ="text/css" href="{% static 'css\adminE.css' %}">
    <link rel="shortcut icon" href="{% static "images/logo.png" %}" type="image/x-icon"> 
    <title>Admin View</title>
</head>
<body>
       
    
           
   
    <div class="container ">
        <div class="header  flex ">
            <div class="logo container2 ">
                <h1>McQueen's <span>Rentals</span>
                </h1>
            </div>
            <div class="logout ">
                <nav>
                    <h3><a href="{% url 'logout' %}">LOG OUT</a></h3>
                </nav>
            
            </div>
        </div>
       <div class="tablecrud">
        <div class="crud">
            
            <table>
                <tr>
                    <th>Customer Name</th> 
                    <th>Car</th>
                    <th>Booking Info </th>
                    <th>
                        
                    </th>
                    
                </tr>
                {% for car1 in car %}
                {% for name in customer %}
                {% for booking in name.book.all %}
                {% if name.car_user_id == car1.id %} 
                    <tr>
                        <td>{{name.Name}} </td>
                        <td>{{car1.Mod_Name}}</td>
                        <td colspan ="2"><b>Pick up:</b> {{booking.Pick_Up}}  <b> Drop off:</b> {{booking.Drop_Off}} </td>
                        <td><a href="{% url 'newupdate' name.id %}"><button type="button">Update</a></button> <td><button onclick="location.href='{% url 'delete' booking.id %}'" type="button">Delete</button> <td><a href="{% url 'confirm' car1.id %}"><button type="button">Confirm</a></button>
                        <td><a href="{% url 'turnin' car1.id %}"><button type="button">Return</a></button>
                        
                </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                    
            </table>
        </div>
       </div>

    
    </div>

    </div>
 
</body>
</html>